@import 'normalize';
@import 'fonts';

$primary: #4A4A4A;
$highlight: #D0011B;
$light_grey: #C5C5C5;

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  color: $primary;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

a {
  text-decoration: none;
  color: $highlight;
}

#flatmacbook {
  margin: 175px 0 0 -95px;
  min-width: 50%;
}
