@import 'normalize';
@import 'fonts';

// Global Box Sizing
* {
  box-sizing: border-box;
}

// HTML/Body Font Styles
html, body {
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
}

// Global Link Styles
a {
  text-decoration: none;
  color: #4A4A4A;
}

// Main App Flex Box
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}